{% extends "base.html" %}
{% set active_page = "{{ g.site.id }}" %}

{% block container_content %}
<!-- Main hero unit -->
<div class="hero-unit">
	<h1>{{ g.hero.heading }}</h1>
	<p>{{ g.hero.text }}</p>
	<p><a class="btn btn-primary btn-large" href="{{ url_for('%s' % g.hero.location) }}">Learn more &raquo;</a></p>
</div>

<!-- Columns -->
<div class="row">
	{% for row in g.sub_units %}
	<div class="span{{ g.site.sub_span }}">
		<h2>{{ row.heading }}</h2>
		<p>{{ row.text }}</p>
		<p><a class="btn" href="{{ url_for('%s' % row.location) }}">View details &raquo;</a></p>
	</div>
	{% endfor %}
</div>
{% endblock container_content %}
