{% extends "bootstrap_responsive.html" %}
{% block body_content %}
{% for file in css %}
<link rel=stylesheet type=text/css href="{{ url_for('static/css', filename='{{ file }}.css') }}">
{% endfor %}

<!-- Part 1: Wrap all page content here -->
<div id="wrap">

	<!-- Begin page content -->
	<div class="container">
		<div class="page-header">
			<h1>Sticky footer</h1>
		</div>
		<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
	</div>

	<div id="push"></div>
</div>

<div id="footer">
	<div class="container">
		<p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
	</div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% for file in js %}
<script src="{{ url_for('static/js', filename='{{ file }}.js') }}">
{% endfor %}
{% endblock %}
