{% extends "page.html" %}
{% block main_content %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the ColumnChart package.
  google.load('visualization', '1', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the chart, passes in the data and draws it.
  function drawChart() {

	// Create our data table.
	var data = new google.visualization.DataTable();
	data.addColumn('string', '{{ category }}');
	data.addColumn('number', '{{ data_label }}');
	data.addRows([{%- for description, value in columns %}
		['{{ description }}', {{ value }}],
		{%- endfor %}
	]);

	// Instantiate and draw our chart, passing in some options.	 All the
	// options go into a single {}; some options' values go into a nested
	// {}. Some values, such as colors, must be given as strings.
	var chart = new google.visualization.ColumnChart(
		document.getElementById('chart_div'));

	chart.draw(data, {legend: 'none', vAxis: {baseline: 0}});}
</script>
<style>#chart_div {min-height: 400px;}</style>
<hr>
<div class="row-fluid"><div class="span12">
	<p class="pagination-centered">{{ chart_caption }}</p>
	<div id="chart_div"></div>
</div></div>

{% endblock main_content %}
