{% extends "page.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block main_content %}
<div class="row-fluid">
	<div class="span3">
		{% if form_fields %}
		<form action="{{ url_for('%s' % post_location, table=post_table) }}" class="form" method="post">
			<legend>{{ form_caption }}</legend>

			{{ form.hidden_tag() }}
				{{ wtf.form_errors(form, True) }}

				{% for f in form_fields %}
				{% if form[f].type == 'BooleanField' %}
					{{ wtf.horizontal_field(form[f]) }}
				{% else %}
					{{ wtf.inline_field(form[f]) }}
				{% endif %}
			{% endfor %}

			<div class="controls">
				<button type="submit" class="btn">Submit Entry</button>
			</div>
		</form>
		{% endif %}
	</div>
	<div class="span7 offset2">
		{% if rows %}
		<table class="table table-striped">
			<caption>{{ table_caption }}</caption>
			<thead><tr>
				{% for h in table_headers %}<th>{{ h }}</th>{% endfor %}
			</tr></thead>
			<tbody>
				{% for row in rows %}
				<tr>{% for field in row %}<td>{{ field }}</td>{% endfor %}</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="well well-small"> Unbelievable! No data found.</div>
		{% endif %}
	</div>
</div>
{% endblock main_content %}

