{% extends "base.html" %}
{% set active_page = "{{ g.site.id }}" %}

{% block container_content %}
<!-- Main hero unit -->
<div class="hero-unit">
	<h1>{{ g.hero.heading }}</h1>
	<p>{{ g.hero.text }}</p>
</div>

<!-- Columns -->
<div class="row">
	{% for row in g.sub_units %}
	<div class="span{{ g.site.sub_span }}">
		<h2>{{ row.heading }}</h2>
		<p>{{ row.text }}</p>
		<p>
			{% if row.table %}
				<a class="btn" href="{{  url_for('%s' % row.location, table=row.table) }}">View details &raquo;</a>
			{% else %}
				<a class="btn" href="{{ url_for('%s' % row.location) }}">View details &raquo;</a>
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>
{% endblock container_content %}
