{% extends "base.html" %}

{% block container_content %}
<!--
<div class="masthead">
	<h3 class="muted">{{ title }}</h3>
</div>
<hr>
 -->
<div class="jumbotron">
	<h1>{{ heading }}</h1>
	<p class="lead">{{ subheading }}</p>
</div>
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="{{ category }}">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{{ message }}
</div>
{% endfor %}
<hr>
{% block main_content %}{% endblock %}
{% endblock container_content %}
