{% extends "page.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ heading }}{% endblock %}
{% block text %}{{ text }}{% endblock %}
{% block main_content %}
<div class="row-fluid">
	<div class="span3">
		<div></div>
		<form action="{{ url_for('hermes.add_event') }}" class="form" method="post">
			<legend>{{ legend }}</legend>

			{{ form.hidden_tag() }}
			{{ wtf.form_errors(form, True) }}

			{{ wtf.inline_field(form.symbol) }}
			{{ wtf.inline_field(form.type_id) }}
			{{ wtf.inline_field(form.value) }}
			{{ wtf.inline_field(form.date) }}

			<div class="controls">
				<button type="submit" class="btn">Submit Entry</button>
			</div>
		</form>
	</div>
	<div class="span7 offset2">
	{% if events %}
	<table class="table table-striped">
		<caption>Event List</caption>
		<thead><tr>
			<th>Symbol</th><th>Type</th><th>Unit</th><th>Value</th><th>Date</th>
		</tr></thead>
		<tbody>
			{% for event in events %}
			<tr>
				<td>{{ event[0].symbol }}</td>
				<td>{{ event[1].name }}</td>
				<td>{{ event[1].unit }}</td>
				<td class="USD">{{ event[0].value|round(2) }}</td>
				<td class="date">{{ event[0].date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div class="well well-small"> Unbelievable. No events found. </div>
	{% endif %}
</div>
{% endblock main_content %}

