{% extends "page.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% block title %}{{ title }}{% endblock %}
{% block heading %}{{ heading }}{% endblock %}
{% block text %}{{ text }}{% endblock %}
{% block main_content %}
<div class="row-fluid">
	<div class="span3">
		<div></div>
		<form action="{{ url_for('hermes.add_type') }}" class="form" method="post">
			<legend>{{ legend }}</legend>

			{{ form.hidden_tag() }}
			{{ wtf.form_errors(form, True) }}

			{{ wtf.inline_field(form.name) }}
			{{ wtf.inline_field(form.unit) }}

			<div class="controls">
				<button type="submit" class="btn">Submit Entry</button>
			</div>
		</form>
	</div>
	<div class="span7 offset2">
	{% if events %}
	<table class="table table-striped">
		<caption>Type List</caption>
		<thead><tr><th>Type Name</th><th>Unit</th></tr></thead>
		<tbody>
			{% for type in types %}
			<tr><td>{{ type.name }}</td><td>{{ type.unit }}</td></tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div class="well well-small"> Unbelievable. No types found.</div>
	{% endif %}
</div>
{% endblock main_content %}

